###########################
# Unreal Grenerated Files #
###########################

Binaries/
Intermediate/
Saved/*
Build/
DerivedDataCache/*
Content/StarterContent/

#######################
# VS Generated  Files #
#######################
*.VC.db
*.VC.opendb
.vs/